@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap");

:root {
  --text: white;
  --background: #e5e9e2;
  --primary-button: #4f4356;
  --secondary-button: #d2d9ce;
  --accent: #1a161d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  background-color: var(--background);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
  color: var(--accent);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.options {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 80px 110px;
  font-size: 20px;
}

button {
  font-size: inherit;
  font-family: inherit;
  height: 50px;
  border-radius: 5px;
  border: 1px solid var(--background);
  width: 100px;
  color: var(--text);
  background-color: var(--primary-button);
}

input {
  width: 100px;
  height: 50px;
  /* border-radius: 50%; */
}

.gird-container {
  display: grid;
  width: 500px;
  height: 500px;
}

.cell {
  background-color: whitesmoke;
  user-select: none;
  color: blue;
}
